/* Navigation du site et Menu */
*
{
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    background-color: #282b30;
    color: white;
    font-size: 50px;
}
nav ul
{
    background-color: #CCC;
    text-align: center;


}

nav ul li
{
    margin-left: 40px;
    display: inline-block;
    list-style: none;
    width: 120px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(204, 204, 204, .100);
    line-height: 40px;
    text-align: center;

}
nav ul li a
{
    display:block;
    text-decoration: none;
    color: black;
    width: 120px;
    height: 40px;

}
nav ul li:hover
{
    background-color: #CCC;
    transition: 0.3s;
}

.intro
{
  margin-left: 40em;
  display: flex;
  text-align: justify;

}

.intro2
{
  margin-right: 50em;
  margin-left: 10px;
  margin-top: 15em;
  text-align: justify;
  display: flex;
}

img
{
  margin-left: 10px;
  margin-top: 0.1em;
  width: 600px;
  float: left;
}

.imageintro2
{
  margin-right:10px;
  float: right;
  margin-top:15em;
  width: 700px
}
footer
{
  margin-top: 35em;
  border-top: 3px black solid;
}
.pied
{
margin-top:1em;

}
body
{
  background-image: image();
}

* {box-sizing: border-box;}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 3000px;
  position: relative;
  margin: auto;
  width: auto;
  height: 205px;
  border: 1px black solid;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
